---
Checks: '
	-*,
	bugprone-*,
	concurrency-*,
	cppcoreguidelines-*,
	misc-*,
	modernize-*,
	performance-*,
	portability-*,
	readability-*,
	-cppcoreguidelines-pro-bounds-pointer-arithmetic,
   -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
	-cppcoreguidelines-owning-memory,
	-modernize-use-trailing-return-type,
	-readability-braces-around-statements
'
WarningsAsErrors: '*'
FormatStyle: 'file'
CheckOptions:
   - key:   readability-identifier-length.IgnoredVariableNames
     value: '^[ijk]|io|ex|fd$'
   - key:   readability-identifier-length.IgnoredParameterNames
     value: '^[th]|ec|io|os|ex|in$'
   - key:   readability-identifier-length.IgnoredLoopCounterNames
     value: '^[ijkxy]$'
   - key:   readability-identifier-length.IgnoredExceptionVariableNames
     value: '^[e]$'
   - key:   readability-identifier-naming.PrivateMemberPrefix
     value: m_
   - key:   readability-identifier-naming.TemplateParameterCase
     value: CamelCase
   - key:   readability-identifier-naming.TemplateTemplateParameterPrefix
     value: CamelCase
   - key:   cppcoreguidelines-macro-usage.CheckCapsOnly
     value: 'true'

