---
Checks:
'-*,readability-braces-around-statements-*,concurrency-*,cppcoreguidelines-*,hicpp-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type,-hicpp-braces-around-statements,-readability-braces-around-statements'
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none

